@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin "daisyui" {
  themes: "dark --default, light --preferslight";
}

@theme {
  --color-primary: #2563eb;
  --color-primary-content: #71717a;
}